* {
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Alkatra', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    background-color: black;
    color: white;
    border: 5px solid rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 100vh;
}
.container section{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
#header{
    border-bottom: 1px solid rgb(50, 50, 50);
    height: 8%;
}
.float_left{
    float: left;
}
#infomation{
    background-color: rgb(36, 36, 36);
    height: 10%;
}
#infomation .profile{
    padding: 0px 0px;
}
#infomation .right, #icon .right{
    margin-left: auto;
    padding: 0px;
}
#infomation div{
    padding-left: 12px;
}
#main_picture{
    padding: 0px 0px;
    height: 60%;
}
#icon{
    height: 4%;
    margin-top: 10px;
}
#icon div{
    padding-right: 30px;
}
#like{
    padding-bottom: 0px;
    padding-top: 0px;
    height: 5%;
}
#date{
    padding-top: 5px;
    height: 10%;
    align-items: start;
}
#gap{
    padding: 30px 0px;
    border-top: 1px solid rgb(50, 50, 50);
    border-bottom: 1px solid rgb(50, 50, 50);
}
#nav{
    justify-content: space-around;
    height: 5%;
}
.profile{
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}
.center{
    padding: 5px 0;
    margin:auto;
}
.center > b{
    font-size: 1.2rem;
}
i{
    font-size: 1.7rem;
}
.small{
    font-size: 0.8rem;
}
.heart{
    color: red;
}
.z_index:nth-child(1){
    position: relative;
    left: 0px;
    z-index: 1;
}
.z_index:nth-child(2){
    position: relative;
    left: -3px;
    z-index: 0;
}
.z_index:nth-child(3){
    position: relative;
    left: -6px;
    z-index: -1;
}